################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/GoodApp/.vs/GoodApp/v17
/GoodApp/GoodApp/bin/Debug/netcoreapp3.1
/GoodApp/GoodApp/obj
/.vs
